<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundleVersion</key>
    <string>0.0.1</string>
    <key>displayName</key>
    <string>A sample mediacast resource bundle</string>
    <!-- `/usr/bin/uuidgen` -->
    <key>uuid</key>
    <string>F6B1E8DF-0BD6-4C1A-A4C8-99ADD8449C0F</string>
    <!-- date -u "+%Y-%m-%d %H:%M:%S" -->
    <key>created</key>
    <string>2011-05-30 10:28:54</string>
    <!-- date -u "+%Y-%m-%d %H:%M:%S" -->
    <key>modified</key>
    <string>2011-07-05 15:58:54</string>
    <!-- `find Resources -type f -print -exec /usr/bin/shasum -p {} \;` -->
    <key>manifest</key>
    <string>MANIFEST</string>
</dict>
</plist>