/.buildpath*
/.project*
/.pydev*
/.settings*
/Resources/mediacastproducer/bin/mediacastencoder
/Resources/mediacastproducer/bin/mediacastproducer
/Resources/mediacastproducer/bin/segmenter
/Resources/mediacastproducer/libexec/mp4-faststart.py
