[submodule "lib/cfpropertylist"]
	path = lib/cfpropertylist
	url = https://github.com/ckruse/CFPropertyList.git
[submodule "lib/mp4seek"]
	path = lib/mp4seek
	url = https://github.com/arkadini/mp4seek.git
[submodule "lib/mcs"]
	path = lib/mcs
	url = https://github.com/sjorek/mediacastserver.git
