<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAADlXNlYW4AAAABAAAABQAAAAAAAAGbdmlkZQAAAAEAAAAPAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAAAAAAAAAGAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAAB
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAA
	AQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAVdHJuYwAAAAEAAAAAAAAAAAAAAAEGaXNpegAAAAEAAAAJ
	AAAAAAAAABhpd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAA
	AAAAABhwd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhwaGd0AAAAAQAAAAAAAAAAAAAAAAAA
	ADRjbGFwAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAccGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0AAAABAAAAAAAAAAAAAAAA
	AAAAFWRpbnQAAAABAAAAAAAAAAAAAAAAFXVlbmYAAAABAAAAAAAAAAAAAAAAjHNvdW4A
	AAABAAAABQAAAAAAAAAYc3NjdAAAAAEAAAAAAAAAAHR3b3MAAAAYc3NydAAAAAEAAAAA
	AAAAAKxEAAAAAAAWc3NzcwAAAAEAAAAAAAAAAAAQAAAAFnNzY2MAAAABAAAAAAAAAAAA
	AgAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAFAABAAAAAAAVZW52aQAAAAEAAAAAAAAAAAEA
	AAA/c2F2ZQAAAAEAAAACAAAAAAAAABVmYXN0AAAAAQAAAAAAAAAAAQAAABZzc3R5AAAA
	AQAAAAAAAAAAAAE=
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>MooV</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
