<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAEOXNlYW4AAAABAAAABgAAAAAAAAGbdmlkZQAAAAEAAAAPAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAABAAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAGAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAAB
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAA
	AQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAVdHJuYwAAAAEAAAAAAAAAAAAAAAEGaXNpegAAAAEAAAAJ
	AAAAAAAAABhpd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAA
	AAAAABhwd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhwaGd0AAAAAQAAAAAAAAAAAAAAAAAA
	ADRjbGFwAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAccGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0AAAABAAAAAAAAAAAAAAAA
	AAAAFWRpbnQAAAABAAAAAAAAAAAAAAAAFXVlbmYAAAABAAAAAAAAAAAAAAABG3NvdW4A
	AAABAAAABgAAAAAAAAAYc3NjdAAAAAEAAAAAAAAAAG1wNGEAAAAYc3NydAAAAAEAAAAA
	AAAAAKxEAAAAAAAWc3NzcwAAAAEAAAAAAAAAAAAQAAAAFnNzY2MAAAABAAAAAAAAAAAA
	AgAAAI9jZGVjAAAAAQAAAAAAAAAAAAAADGZybWFtcDRhAAAADG1wNGEAAAAAAAAAM2Vz
	ZHMAAAAAA4CAgCIAAAAEgICAFEAVABgAAALuAAAC7gAFgICAAhIQBoCAgAECAAAADHNy
	Y3FgAAAAAAAADGFjYmYAAAAAAAAACAAAAAAAAAAAQi4AXgAAAAAAqwAAAAAAHHZlcnMA
	AAABAAAAAAAAAAAAAwAUAAEAAAAAABVlbnZpAAAAAQAAAAAAAAAAAQAAABVlbnNvAAAA
	AQAAAAAAAAAAAQAAAD9zYXZlAAAAAQAAAAIAAAAAAAAAFWZhc3QAAAABAAAAAAAAAAAB
	AAAAFnNzdHkAAAABAAAAAAAAAAAAAQ==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>MooV</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
