<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAEgXNlYW4AAAABAAAABgAAAAAAAAHLdmlkZQAAAAEAAAARAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAABAAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAAAP//gAAAAAEAAAAB
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAA
	AQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAEAAAAAQEAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAVdHJuYwAAAAEAAAAAAAAAAAAAAAAYd2R0aAAAAAEAAAAA
	AAAAAACwAAAAAAAYaGVndAAAAAEAAAAAAAAAAACQAAAAAAEGaXNpegAAAAEAAAAJAAAA
	AAAAABhpd2R0AAAAAQAAAAAAAAAAAAAAsAAAABhpaGd0AAAAAQAAAAAAAAAAAAAAkAAA
	ABhwd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhwaGd0AAAAAQAAAAAAAAAAAAAAAAAAADRj
	bGFwAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAc
	cGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0AAAABAAAAAAAAAABmaXQgAAAA
	FWRpbnQAAAABAAAAAAAAAAAAAAAAFXVlbmYAAAABAAAAAAAAAAAAAAABM3NvdW4AAAAB
	AAAABwAAAAAAAAAYc3NjdAAAAAEAAAAAAAAAAG1wNGEAAAAYc3NydAAAAAEAAAAAAAAA
	AH0AAAAAAAAYc3NpcgAAAAEAAAAAAAAAAKxEAAAAAAAWc3NzcwAAAAEAAAAAAAAAAAAQ
	AAAAFnNzY2MAAAABAAAAAAAAAAAAAgAAAI9jZGVjAAAAAQAAAAAAAAAAAAAADGZybWFt
	cDRhAAAADG1wNGEAAAAAAAAAM2VzZHMAAAAAA4CAgCIAAAAEgICAFEAVABgAAAF3AAAB
	dwAFgICAAhKQBoCAgAECAAAADHNyY3FAAAAAAAAADGFjYmYAAAAAAAAACAAAAAAAAAAA
	AAMAAAAAAAAAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAUAAEAAAAAABVlbnZpAAAA
	AQAAAAAAAAAAAQAAABVlbnNvAAAAAQAAAAAAAAAAAQAAAD9zYXZlAAAAAQAAAAIAAAAA
	AAAAFWZhc3QAAAABAAAAAAAAAAABAAAAFnNzdHkAAAABAAAAAAAAAAAAAQ==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>MooV</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
