<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAA03NlYW4AAAABAAAABAAAAAAAAAAsdGltZQAAAAEAAAABAAAA
	AAAAABhmcHMgAAAAAQAAAAAAAAAAAAAzMwAAABhmdHlwAAAAAQAAAAAAAAAAUE5HZgAA
	AGZ2aWRlAAAAAQAAAAMAAAAAAAAAInNwdGwAAAABAAAAAAAAAABwbmcgAAAAAAAgAAAE
	AAAAABhpbGFjAAAAAQAAAAAAAAAAAAAAAAAAABhwbmdmAAAAAQAAAAAAAAAAYmZsdAAA
	ABUiICI/AAAAAQAAAAAAAAAAAQ==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>grex</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
