<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAE/3NlYW4AAAABAAAAFQAAAAAAAAG2dmlkZQAAAAEAAAAQAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAAFR7AAAAEgAAACRkcmF0AAAAAQAAAAAAAAAAAAAfQAAAAAAAAAMAAAAD
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAA
	AQAAAAAAAAAAAQAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAEAAB9AQEAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAYd2R0aAAAAAEAAAAAAAAAAAKAAAAAAAAYaGVndAAAAAEA
	AAAAAAAAAAFoAAAAAABcaXNpegAAAAEAAAADAAAAAAAAABhpd2R0AAAAAQAAAAAAAAAA
	AAACgAAAABhpaGd0AAAAAQAAAAAAAAAAAAABaAAAABhzY2FtAAAAAQAAAAAAAAAAZml0
	IAAAAStzb3VuAAAAAQAAAAcAAAAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAAGHNz
	cnQAAAABAAAAAAAAAAB9AAAAAAAAGHNzaXIAAAABAAAAAAAAAACsRAAAAAAAFnNzc3MA
	AAABAAAAAAAAAAAAEAAAABZzc2NjAAAAAQAAAAAAAAAAAAIAAACHY2RlYwAAAAEAAAAA
	AAAAAAAAAAxmcm1hbXA0YQAAAAxtcDRhAAAAAAAAADNlc2RzAAAAAAOAgIAiAAAABICA
	gBRAFQAYAAABOIAAATiABYCAgAISkAaAgIABAgAAAAxzcmNxYAAAAAAAAAxhY2JmAAAA
	AAAAAAgAAAAAAAAAAADmjhQAAAAcdmVycwAAAAEAAAAAAAAAAAADABQAAQAAAAAAGGZ0
	eXAAAAABAAAAAAAAAABtcDQyAAAAGGVudmkAAAABAAAAAAAAAABoMjY0AAAAGGVuc28A
	AAABAAAAAAAAAABhYWMgAAAAGGNvbmYAAAABAAAAAAAAAABtcGc0AAAAGGFyYXQAAAAB
	AAAAAAAAAAAAAABQAAAAGGNoYW4AAAABAAAAAAAAAAAAAAACAAAAGGFzcnQAAAABAAAA
	AAAAAAB9AAAAAAAAGGFxbHQAAAABAAAAAAAAAAAAAABgAAAAGGJhc2UAAAABAAAAAAAA
	AAAAAAEAAAAAGHR4ZW4AAAABAAAAAAAAAAAAAAACAAAAFnJ0eHQAAAABAAAAAAAAAAAA
	AAAAABhoaW50AAAAAQAAAAAAAAAAAAAAAQAAABhwc2l6AAAAAQAAAAAAAAAAAAAFqgAA
	ABhwZHVyAAAAAQAAAAAAAAAAAAAAZAAAABhyc21rAAAAAQAAAAAAAAAAAAAAAQAAABhi
	ZnJtAAAAAQAAAAAAAAAAAAAAAAAAABhwcm9mAAAAAQAAAAAAAAAAAAAAAwAAABh2cmFp
	AAAAAQAAAAAAAAAAAAAAAA==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>mpg4</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
