<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>commands</key>
    <string>ffmpeg2theora</string>
    <key>arguments</key>
    <dict>
        <key>ffmpeg2theora</key>
        <array>
            <string>###ffmpeg2theora###</string>
            <string>###video_quality###</string>
            <string>###video_width###</string>
            <string>###video_fps###</string>
            <string>###audio_quality###</string>
            <string>###audio_channels###</string>
            <string>###audio_samplerate###</string>
            <string>--no-oshash</string>
            <string>--no-upscaling</string>
            <string>--optimize</string>
            <string>--output</string>
            <string>###output###</string>
            <string>###input###</string>
        </array>
    </dict>
    <key>options</key>
    <dict>
        <key>video_quality</key>
        <dict>
            <key>template</key>
            <array>
                <string>--videoquality</string>
                <string>%%%video_quality%%%</string>
            </array>
            <key>type</key>
            <string>integer</string>
            <key>minimum</key>
            <integer>0</integer>
            <key>maximum</key>
            <integer>10</integer>
            <key>required</key>
            <true/>
        </dict>
        <key>video_width</key>
        <dict>
            <key>template</key>
            <array>
              <string>--max_size</string>
              <string>%%%video_width%%%###video_height###</string>
            </array>
            <key>type</key>
            <string>integer</string>
            <key>minimum</key>
            <integer>16</integer>
            <key>maximum</key>
            <integer>4096</integer>
            <key>required</key>
            <true/>
        </dict>
        <key>video_height</key>
        <dict>
            <key>template</key>
            <string>x%%%video_height%%%</string>
            <key>type</key>
            <string>integer</string>
            <key>minimum</key>
            <integer>16</integer>
            <key>maximum</key>
            <integer>4096</integer>
            <key>required</key>
            <true/>
        </dict>
        <key>video_fps</key>
        <dict>
            <key>template</key>
            <array>
                <string>--framerate</string>
                <string>%%%video_fps%%%</string>
            </array>
            <key>type</key>
            <string>string</string>
            <key>match</key>
            <string>^([1-9]|[1-5][0-9]|60|\d+:\d+)$</string>
            <key>required</key>
            <false/>
        </dict>
        <key>audio_quality</key>
        <dict>
            <key>template</key>
            <array>
                <string>--audioquality</string>
                <string>%%%audio_quality%%%</string>
            </array>
            <key>type</key>
            <string>integer</string>
            <key>minimum</key>
            <integer>-2</integer>
            <key>maximum</key>
            <integer>10</integer>
            <key>required</key>
            <true/>
        </dict>
        <key>audio_channels</key>
        <dict>
            <key>template</key>
            <array>
                <string>--channels</string>
                <string>%%%audio_channels%%%</string>
            </array>
            <key>type</key>
            <string>integer</string>
            <key>minimum</key>
            <integer>1</integer>
            <key>maximum</key>
            <integer>2</integer>
            <key>required</key>
            <false/>
        </dict>
        <key>audio_samplerate</key>
        <dict>
            <key>template</key>
            <array>
                <string>--samplerate</string>
                <string>%%%audio_samplerate%%%</string>
            </array>
            <key>type</key>
            <string>integer</string>
            <key>values</key>
            <array>
                <integer>8000</integer>
                <integer>11025</integer>
                <integer>12000</integer>
                <integer>16000</integer>
                <integer>22500</integer>
                <integer>24000</integer>
                <integer>32000</integer>
                <integer>44100</integer>
                <integer>48000</integer>
            </array>
            <key>required</key>
            <false/>
        </dict>
    </dict>
    <key>extensions</key>
    <string>ogv,ogg</string>
    <key>mimetype</key>
    <string>video/ogv</string>
    <key>description</key>
    <string><![CDATA[
transcode INPUT to an OGG container with Theora encoded video-track and Vorbis
encoded audio-track, using a quality based variable bitrate for both tracks
]]></string>
    <key>usage</key>
    <string><![CDATA[
         --video_quality      video-quality, value range from 0 to 10
         --video_width        video width in pixel
         --video_height       video height in pixel
        [--video_fps]         optional: video frames per second

         --audio_quality      audio-quality, value range from -2 to 10
        [--audio_channels]    optional: number of audio channels,
                              possible values: 1 (mono) or 2 (stereo)
        [--audio_samplerate]  optional: audio samplerate in hz, possible values:
                              8000, 11025, 12000, 16000, 22500, 24000, 32000,
                              44100 or 48000
]]></string>
</dict>
</plist>