<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>arguments</key>
    <array>
        <string>###vlc###</string>
        <string>###input###</string>
        <string>--no-sout-transcode-hurry-up</string>
        <string>--no-ffmpeg-hurry-up</string>
        <string>--no-drop-late-frames</string>
        <string>--no-skip-frames</string>
        <string>--no-sout-vorbis-cbr</string>
        <string>--sout-vorbis-min-bitrate=###audio_bitrate_min###</string>
        <string>--sout-vorbis-max-bitrate=###audio_bitrate_max###</string>
        <string>--sout-transcode-high-priority</string>
        <string>--sout=#transcode{venc=theora,vcodec=theo,vb=###video_bitrate###,scale=1,deinterlace=0,vfilter=canvas{width=###video_width###,height=###video_height###},acodec=vorb,ab=###audio_bitrate_avg###,channels=###audio_channels###,samplerate=###audio_samplerate###,afilter=ugly_resampler}:standard{access=file,mux=ogg,dst='###output###'}</string>
    </array>
    <key>commands</key>
    <string>vlc</string>
    <key>options</key>
    <dict>
        <key>video_bitrate</key>
        <string>integer</string>
        <key>video_width</key>
        <string>integer</string>
        <key>video_height</key>
        <string>integer</string>
        <key>audio_bitrate_min</key>
        <string>integer</string>
        <key>audio_bitrate_avg</key>
        <string>integer</string>
        <key>audio_bitrate_max</key>
        <string>integer</string>
        <key>audio_channels</key>
        <string>integer</string>
        <key>audio_samplerate</key>
        <string>integer</string>
    </dict>
    <key>extensions</key>
    <string>ogv,ogg</string>
    <key>mimetype</key>
    <string>video/ogv</string>
    <key>description</key>
    <string><![CDATA[
transcode INPUT to an OGG container with Theora encoded video-track and Vorbis
encoded audio-track, using a variable bitrate for both tracks
]]></string>
    <key>usage</key>
    <string><![CDATA[
         --video_bitrate      video bitrate in kBit per second
         --video_width        video width in pixel
         --video_height       video height in pixel

         --audio_bitrate_avg  average audio bitrate in kBit per second
         --audio_bitrate_min  minimal audio bitrate in kBit per second
         --audio_bitrate_max  maximal audio bitrate in kBit per second
         --audio_samplerate   audio samplerate in hz as integer
         --audio_channels     number of audio channels,
                              possible values: 1 (mono) or 2 (stereo)
]]></string>
</dict>
</plist>