<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAE+XNlYW4AAAABAAAAFgAAAAAAAAGGdmlkZQAAAAEAAAAOAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAwAAAQAAAAAAAwAAACRkcmF0AAAAAQAAAAAAAAAAAAAH0AAAAAAAAAMAAAAD
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAABcaXNpegAAAAEAAAADAAAAAAAAABhpd2R0AAAAAQAAAAAA
	AAAAAAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAAAAAAABhzY2FtAAAAAQAAAAAAAAAA
	c3AycAAAARNzb3VuAAAAAQAAAAYAAAAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAA
	GHNzcnQAAAABAAAAAAAAAACsRAAAAAAAFnNzc3MAAAABAAAAAAAAAAAAEAAAABZzc2Nj
	AAAAAQAAAAAAAAAAAAIAAACHY2RlYwAAAAEAAAAAAAAAAAAAAAxmcm1hbXA0YQAAAAxt
	cDRhAAAAAAAAADNlc2RzAAAAAAOAgIAiAAAABICAgBRAFQAYAAABdwAAAXcABYCAgAIS
	EAaAgIABAgAAAAxzcmNxQAAAAAAAAAxhY2JmAAAAAAAAAAgAAAAAAAAAALwAAAAAAAAc
	dmVycwAAAAEAAAAAAAAAAAADABQAAQAAAAAAGGZ0eXAAAAABAAAAAAAAAABtbXA0AAAA
	GGVudmkAAAABAAAAAAAAAABwcm8wAAAAGGVuc28AAAABAAAAAAAAAABhYWMgAAAAGGVu
	dHgAAAABAAAAAAAAAAB0eDNnAAAAGGNvbmYAAAABAAAAAAAAAAAzR1BQAAAAGGFyYXQA
	AAABAAAAAAAAAAAAAXcAAAAAGGNoYW4AAAABAAAAAAAAAAAAAAACAAAAGGFmcnQAAAAB
	AAAAAAAAAAAAAAABAAAAGGFzcnQAAAABAAAAAAAAAACsRAAAAAAAGGFxbHQAAAABAAAA
	AAAAAAAAAABAAAAAGGJhc2UAAAABAAAAAAAAAAAAAAEAAAAAGHR4ZW4AAAABAAAAAAAA
	AAAAAAACAAAAFnJ0eHQAAAABAAAAAAAAAAAAAAAAABhoaW50AAAAAQAAAAAAAAAAAAAA
	AQAAABhwc2l6AAAAAQAAAAAAAAAAAAAFqgAAABhwZHVyAAAAAQAAAAAAAAAAAAAAZAAA
	ABhyc21rAAAAAQAAAAAAAAAAAAAAAAAAABZkZHJtAAAAAQAAAAAAAAAAAAEAAABEZGV4
	dAAAAAEAAAACAAAAAAAAABhkbW9kAAAAAQAAAAAAAAAAAAAAAQAAABhkcm1mAAAAAQAA
	AAAAAAAAAAAAAA==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>3gpp</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
