<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAboHNlYW4AAAABAAAABAAAAAAAAAAVZW52aQAAAAEAAAAAAAAA
	AAEAAAAVZW5zbwAAAAEAAAAAAAAAAAEAAAGKdmlkZQAAAAEAAAAOAAAAAAAAACJzcHRs
	AAAAAQAAAAAAAAAAWGlUaAAAAAAAGAAABAAAAAAgdHBybAAAAAEAAAAAAAAAAAAABAAA
	AQAAAAAAAwAAACRkcmF0AAAAAQAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABVtcHNv
	AAAAAQAAAAAAAAAAAAAAABhwc2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAA
	AAAAAAAAAAAAABZtcGVzAAAAAQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAA
	AQAAAAAAAAAAAEQAAAAYY21mcgAAAAEAAAAAAAAAAFhpcGgAAAAUY2x1dAAAAAEAAAAA
	AAAAAAAAABxjZGVjAAAAAQAAAAAAAAAAaFRpWAAAAAAAAAAcdmVycwAAAAEAAAAAAAAA
	AAADABwAAQAAAAAZ2HNvdW4AAAABAAAABwAAAAAAAAryYXVkaQAAAAEAAAAGAAAAAAAA
	ADxvc2JkAAAAAQAAAAAAAAAAQOWIgAAAAABYaVZzAAAAAAAAAAAAAAAAAAAAAAAAAAIA
	AAAAAAAAAAAACjljZHN0AAAAAQAAAAAAAAAAPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNv
	ZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RU
	RCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0
	eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8YXJyYXk+Cgk8ZGlj
	dD4KCQk8a2V5PmNvbnZlcnRlcjwva2V5PgoJCTxzdHJpbmc+Q29kZWNDb252ZXJ0ZXI8
	L3N0cmluZz4KCQk8a2V5Pm5hbWU8L2tleT4KCQk8c3RyaW5nPlhpcGggVm9yYmlzIEVu
	Y29kZXI8L3N0cmluZz4KCQk8a2V5PnBhcmFtZXRlcnM8L2tleT4KCQk8YXJyYXk+CgkJ
	CTxkaWN0PgoJCQkJPGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+
	CgkJCQkJPHN0cmluZz5UYXJnZXQgUXVhbGl0eTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	QXZlcmFnZSBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+VGFyZ2V0IEJpdCBS
	YXRlIFF1YWxpdHk8L3N0cmluZz4KCQkJCQk8c3RyaW5nPk1hbmFnZWQgQml0IFJhdGU8
	L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4K
	CQkJCTxpbnRlZ2VyPjE8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxp
	bnRlZ2VyPjU8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5F
	bmNvZGluZyBNb2RlPC9zdHJpbmc+CgkJCQk8a2V5PmxpbWl0ZWQgdmFsdWVzPC9rZXk+
	CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5UYXJnZXQgUXVhbGl0eTwvc3RyaW5nPgoJ
	CQkJCTxzdHJpbmc+QXZlcmFnZSBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	VGFyZ2V0IEJpdCBSYXRlIFF1YWxpdHk8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8
	a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+RW5jb2RpbmcgTW9kZTwvc3RyaW5nPgoJ
	CQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlZvcmJpcyBlbmNvZGluZyBt
	b2RlLjwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdl
	cj4xMDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4KCQkJCTxrZXk+YXZhaWxh
	YmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxpbnRlZ2VyPjg8L2ludGVn
	ZXI+CgkJCQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+MTI8L2lu
	dGVnZXI+CgkJCQkJPGludGVnZXI+MTQ8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+MTY8
	L2ludGVnZXI+CgkJCQkJPGludGVnZXI+MjA8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+
	MjQ8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+Mjg8L2ludGVnZXI+CgkJCQkJPGludGVn
	ZXI+MzI8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+NDA8L2ludGVnZXI+CgkJCQkJPGlu
	dGVnZXI+NDg8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+NTY8L2ludGVnZXI+CgkJCQkJ
	PGludGVnZXI+NjQ8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+ODA8L2ludGVnZXI+CgkJ
	CQkJPGludGVnZXI+OTY8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+MTEyPC9pbnRlZ2Vy
	PgoJCQkJCTxpbnRlZ2VyPjEyODwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj4xNjA8L2lu
	dGVnZXI+CgkJCQkJPGludGVnZXI+MTkyPC9pbnRlZ2VyPgoJCQkJCTxpbnRlZ2VyPjIy
	NDwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj4yNTY8L2ludGVnZXI+CgkJCQkJPGludGVn
	ZXI+MzIwPC9pbnRlZ2VyPgoJCQkJCTxpbnRlZ2VyPjM4NDwvaW50ZWdlcj4KCQkJCTwv
	YXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjEz
	PC9pbnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8aW50ZWdlcj4wPC9pbnRl
	Z2VyPgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+VGFyZ2V0IEJpdHJhdGU8
	L3N0cmluZz4KCQkJCTxrZXk+bGltaXRlZCB2YWx1ZXM8L2tleT4KCQkJCTxhcnJheT4K
	CQkJCQk8aW50ZWdlcj40ODwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj41NjwvaW50ZWdl
	cj4KCQkJCQk8aW50ZWdlcj42NDwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj44MDwvaW50
	ZWdlcj4KCQkJCQk8aW50ZWdlcj45NjwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj4xMTI8
	L2ludGVnZXI+CgkJCQkJPGludGVnZXI+MTI4PC9pbnRlZ2VyPgoJCQkJCTxpbnRlZ2Vy
	PjE2MDwvaW50ZWdlcj4KCQkJCQk8aW50ZWdlcj4xOTI8L2ludGVnZXI+CgkJCQkJPGlu
	dGVnZXI+MjI0PC9pbnRlZ2VyPgoJCQkJCTxpbnRlZ2VyPjI1NjwvaW50ZWdlcj4KCQkJ
	CQk8aW50ZWdlcj4zMjA8L2ludGVnZXI+CgkJCQkJPGludGVnZXI+Mzg0PC9pbnRlZ2Vy
	PgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5UYXJn
	ZXQgQml0cmF0ZTwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3Ry
	aW5nPlRhcmdldCBiaXRyYXRlLjwvc3RyaW5nPgoJCQkJPGtleT51bml0PC9rZXk+CgkJ
	CQk8c3RyaW5nPmticHM8L3N0cmluZz4KCQkJCTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJ
	CQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCTwvZGljdD4KCQk8L2FycmF5PgoJPC9k
	aWN0Pgo8L2FycmF5Pgo8L3BsaXN0PgoAAAAgY2xheQAAAAEAAAAAAAAAAABlAAIAAAAA
	AAAAAAAAABVyZWNvAAAAAQAAAAAAAAAAAAAAABhxbHR5AAAAAQAAAAAAAAAAAAAAfwAA
	ABx2ZXJzAAAAAQAAAAAAAAAAAAMAFQABAAAAAAAYc3NjdAAAAAEAAAAAAAAAAFhpVnMA
	AAAYc3NydAAAAAEAAAAAAAAAAKxEAAAAAAAWc3NzcwAAAAEAAAAAAAAAAAAQAAAAFnNz
	Y2MAAAABAAAAAAAAAAAAAgAADlpjZGVjAAAAAQAAAAAAAAAAAAAAJnZDdEgBdm9yYmlz
	AAAAAAJErAAA/////4A4AQD/////uAEAAABqdkN0IwN2b3JiaXMdAAAAWGlwaC5Pcmcg
	bGliVm9yYmlzIEkgMjAwOTA2MDQBAAAAMQAAAEVOQ09ERVI9WGlwaFFULCBDQVZvcmJp
	c0VuY29kZXIuY3BwICRSZXY6IDEyMzk5ICQBAAANrnZDdEMFdm9yYmlzIUJDVgEAAAEA
	GGNUKUaZUtJKiRlzlDFGmWKSSomlhBZCSJ1zFFOpOdeca6y5tSCEEBpTUCkFmVKOUmkZ
	Y5ApBZlSEEtJJXQSOiedYxBbScHWmGuLQbYchA2aUkwpxJRSikIIGVOMKcWUUkpCByV0
	DjrmHFOOSihBuJxzq7WWlmOLqXSSSuckZExCSCmFkkoHpVNOQkg1ltZSKR1zUlJqQegg
	hBBCtiCEDYLQkFUAAAEAwEAQGrIKAFAAABCKoRiKAoSGrAIAMgAABKAojuIojiM5kmNJ
	FhAasgoAAAIAEAAAwHAUSZEUybEkS9IsS9NEUVV91TZVVfZ1Xdd1Xdd1IDRkFQAAAQBA
	SKeZpRogwgxkGAgNWQUAIAAAAEYowhADQkNWAQAAAQAAYig5iCa05nxzjoNmOWgqxeZ0
	cCLV5kluKubmnHPOOSebc8Y455xzinJmMWgmtOaccxKDZiloJrTmnHOexOZBa6q05pxz
	xjmng3FGGOecc5q05kFqNtbmnHMWtKY5ai7F5pxzIuXmSW0u1eacc84555xzzjnnnHOq
	F6dzcE4455xzovbmWm5CF+eccz4Zp3tzQjjnnHPOOeecc84555xzgtCQVQAAEAAAQRg2
	hnGnIEifo4EYRYhpyKQH3aPDJGgMcgqpR6OjkVLqIJRUxkkpnSA0ZBUAAAgAACGEFFJI
	IYUUUkghhRRSiCGGGGLIKaecggoqqaSiijLKLLPMMssss8wy67CzzjrsMMQQQwyttBJL
	TbXVWGOtueecaw7SWmmttdZKKaWUUkopCA1ZBQCAAAAQCBlkkEFGIYUUUoghppxyyimo
	oAJCQ1YBAIAAAAIAAAA8yXNER3RER3RER3RER3REx3M8R5RESZRESbRMy9RMTxVV1ZVd
	W9Zl3fZtYRd23fd13/d149eFYVmWZVmWZVmWZVmWZVmWZVmC0JBVAAAIAACAEEIIIYUU
	UkghpRhjzDHnoJNQQiA0ZBUAAAgAIAAAAMBRHMVxJEdyJMmSLEmTNEuzPM3TPE30RFEU
	TdNURVd0Rd20RdmUTdd0Tdl0VVm1XVm2bdnWbV+Wbd/3fd/3fd/3fd/3fd/3dR0IDVkF
	AEgAAOhIjqRIiqRIjuM4kiQBoSGrAAAZAAABACiKoziO40iSJEmWpEme5VmiZmqmZ3qq
	qAKhIasAAEAAAAEAAAAAACia4imm4imi4jmiI0qiZVqipmquKJuy67qu67qu67qu67qu
	67qu67qu67qu67qu67qu67qu67qu67ouEBqyCgCQAADQkRzJkRxJkRRJkRzJAUJDVgEA
	MgAAAgBwDMeQFMmxLEvTPM3TPE30RE/0TE8VXdEFQkNWAQCAAAACAAAAAAAwJMNSLEdz
	NEmUVEu1VE21VEsVVU9VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVU1TdM0
	TSA0ZCUAEAUAwDCsNfdiHIEcg5ZzaZBUjnJwEUPKUQ0qUgopiMFVTCHlrNbMKcUg1dpB
	hRSk2EvJFHOSAqEhKwSA0AwAgyQBkqYBkqYBAAAAAAAAgORpgCaKgOaJAAAAAAAAACBp
	GqCJHqCJIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkqcBnigCnigCAAAAAAAAgCaKgCiagGiaAAAA
	AAAAAKCJIuCZIiCaJgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkuYBnigCnigCAAAAAAAAgCaKgGia
	gCeaAAAAAAAAAKCJIiCaJiCaIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAgAAHAIAAC6HQkBUBQJwAgENxLAsAABzHsSwA
	AHAcx7IAAMCyLFEEAADL0kQRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAMCAAwBAgAlloNCQlQBAFACA
	QVE0DUiSZQFJ0jSgaZoG0DSAJwI8D2CaAEAAAECBAwBAgA2aEosDFBqyEgCIAgAwKIpl
	aZoosixN8zxRZFma5nmiSNM8z/NME57neaYJzxNFVYUoiqKqwjRNU1WBKKqqAACAAgcA
	gAAbNCUWByg0ZCUAEBIA4FAUy9I0z/M8UTRNVSVJluV5oiiKpmmaqkqSLMvzRFEUTdM0
	VZWmaZrniaIomqaqui40zfNEURRNU1VdF57neaJomqaqqq4Lz/M8UTRN01RV14UoiqJp
	mqaquq7rAlE0TdNUVdeVZSCKomiaquq6sgxEURRNU1VdV5aBKJqmqrqu68oywDRV1XVd
	V5YBqqqqrivLsgxQVVV1XVmWZYCquq7ryrJtA3Bd15Vl2xYAAHDgAAAQYASdZFRZhI0m
	XHgACg1ZEQBEAQAAxjClmFKGMQkhhdAwJiGkEDIpJaVUSgUhpZJKqSCkklIpGaWUUkqp
	gpBKSalUEEopqaQCAMAOHADADiyEQkNWAgB5AACEMUoxxphzEiGlGHPOOYmQUow555xk
	jDHnnHNOSskYY845J6VkzDnnnJNSMuacc85JKZ1zzjnopJRSOuecc1JKKSF0zjkppZTO
	OeecAACgAgcAgAAbRTYnGAkqNGQlAJAKAGBwHMvSNE3zPFHUJEnTPM/zRNE0NcnSNM/z
	PFFUTZ7neaIoiqapqjzP80RRFE1TVbmuKJqmaaqqqpJlURRF01RV14VoiqaquqrswjRF
	UVVdV3Yhy6apqq4ry7Bt01RV15VloLqq6sq2DFxXVWXXlgUAgCc4AAAV2LA6wknRWGCh
	ISsBgAwAAMIYgxRCCCmEEFIIIaSUQkgAAMCAAwBAgAlloNCQlQBAKgAAQAjGGGOMMcZE
	KYwxxhhjjI1jGGOMMcYYY4wxxhhjjDHGGGOMMcYYY4wxxhhjjDHGGGOMMcYYY4wxxhhj
	jDHGGGOMMcYYY4wxxhhjjDHGGGOMMcYYY4wxxhhjjDHGGGOMMcYYY4wxxhhjLABwqcIB
	QPfBhtURTorGAgsNWQkApAIAAMYoxRiEklqrEGLMMSkptVYhxJhzUlJqrWfMOQgptRZj
	0JhjEFJpLcakSuekpNRajEmlkFFJqbXYklKmlJJaa7EWpVRIIbbWYkxOyZxSazHWWJTT
	sZVYYoy1OeecrK3FFmNzzjnZWqutxgIAMBscACASbFgd4aRoLLDQkJUAQEgAAIGQUkwx
	5pxzzjknlWKMMecghBBCCKVSjDnnHIQQQgihZIwx5xyEEEIIIZRSMuYchBBCCCGEklLn
	nIMQQgilhFJK6ZxzEEIIIYRSUimdgxBCCCGEUEIpJaXOQQghhBBCSCmlFEIIIYRQQgkp
	pZRCByGEEEIpIaWSUgghhBBCKCWklFJKKYQSQggllJJKSimFUkoIIYRQUkoppRBCCCGE
	ElIqKaVUSgghhFBCSSWllFIKoYQQQigAAODAAQAgwAg6yaiyCBtNuPAAFBqyEgCIAgCA
	jJMQSmqNQEo5SbEzyjForZbKGaQgtRAphBSkFDKoEGJSSkgdUwxSarGU0EFKObeYQkkB
	AAAQBAAEmAACAwQFXwgBMQYAIAiRGSKhsAoWGJRBg8M8AHiAiJAIABITFGkXF9BlgAu6
	uOtACEEIQhCLAyggAQcn3PDEG55wgxN0ikodCAAAAAAAAwA8AAAgFEBERDNXYXGBkaGx
	wdHh8QEiAAAAAABcAPABAICEABERzVyFxQVGhsYGR4fHB0gAACCAAAAAAAAIIAABAQEA
	AAAAgAAAAAABAQAAAAgAAAAAAAAAHHZlcnMAAAABAAAAAAAAAAAAAwAUAAEAAA==
	</data>
	<key>componentManufacturer</key>
	<string>Xiph</string>
	<key>componentSubtype</key>
	<string>OggS</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
