<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAFEXNlYW4AAAABAAAAFgAAAAAAAAGGdmlkZQAAAAEAAAAOAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAwAAAQAAAAAAAwAAACRkcmF0AAAAAQAAAAAAAAAAAAAPoAAAAAAAAAMAAAAD
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAABcaXNpegAAAAEAAAADAAAAAAAAABhpd2R0AAAAAQAAAAAA
	AAAAAAAAAAAAABhpaGd0AAAAAQAAAAAAAAAAAAAAAAAAABhzY2FtAAAAAQAAAAAAAAAA
	c3AycAAAAStzb3VuAAAAAQAAAAcAAAAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAA
	GHNzcnQAAAABAAAAAAAAAAB9AAAAAAAAGHNzaXIAAAABAAAAAAAAAACsRAAAAAAAFnNz
	c3MAAAABAAAAAAAAAAAAEAAAABZzc2NjAAAAAQAAAAAAAAAAAAIAAACHY2RlYwAAAAEA
	AAAAAAAAAAAAAAxmcm1hbXA0YQAAAAxtcDRhAAAAAAAAADNlc2RzAAAAAAOAgIAiAAAA
	BICAgBRAFQAYAAABOIAAATiABYCAgAISkAaAgIABAgAAAAxzcmNxQAAAAAAAAAxhY2Jm
	AAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAcdmVycwAAAAEAAAAAAAAAAAADABQAAQAAAAAA
	GGZ0eXAAAAABAAAAAAAAAABtbXA0AAAAGGVudmkAAAABAAAAAAAAAABwcm8wAAAAGGVu
	c28AAAABAAAAAAAAAABhYWMgAAAAGGVudHgAAAABAAAAAAAAAAB0eDNnAAAAGGNvbmYA
	AAABAAAAAAAAAAAzR1BQAAAAGGFyYXQAAAABAAAAAAAAAAAAATiAAAAAGGNoYW4AAAAB
	AAAAAAAAAAAAAAACAAAAGGFmcnQAAAABAAAAAAAAAAAAAAABAAAAGGFzcnQAAAABAAAA
	AAAAAAB9AAAAAAAAGGFxbHQAAAABAAAAAAAAAAAAAABAAAAAGGJhc2UAAAABAAAAAAAA
	AAAAAAEAAAAAGHR4ZW4AAAABAAAAAAAAAAAAAAACAAAAFnJ0eHQAAAABAAAAAAAAAAAA
	AAAAABhoaW50AAAAAQAAAAAAAAAAAAAAAQAAABhwc2l6AAAAAQAAAAAAAAAAAAAFqgAA
	ABhwZHVyAAAAAQAAAAAAAAAAAAAAZAAAABhyc21rAAAAAQAAAAAAAAAAAAAAAAAAABZk
	ZHJtAAAAAQAAAAAAAAAAAAEAAABEZGV4dAAAAAEAAAACAAAAAAAAABhkbW9kAAAAAQAA
	AAAAAAAAAAAAAQAAABhkcm1mAAAAAQAAAAAAAAAAAAAAAA==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>3gpp</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
