<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atomContainerData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAFKXNlYW4AAAABAAAAFgAAAAAAAAG2dmlkZQAAAAEAAAAQAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAwAAAQAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAAAAH0AAAAAAAAAMAAAAD
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAYd2R0aAAAAAEAAAAAAAAAAACAAAAAAAAYaGVndAAAAAEA
	AAAAAAAAAABgAAAAAABcaXNpegAAAAEAAAADAAAAAAAAABhpd2R0AAAAAQAAAAAAAAAA
	AAAAgAAAABhpaGd0AAAAAQAAAAAAAAAAAAAAYAAAABhzY2FtAAAAAQAAAAAAAAAAc3Ay
	cAAAARNzb3VuAAAAAQAAAAYAAAAAAAAAGHNzY3QAAAABAAAAAAAAAABtcDRhAAAAGHNz
	cnQAAAABAAAAAAAAAACsRAAAAAAAFnNzc3MAAAABAAAAAAAAAAAAEAAAABZzc2NjAAAA
	AQAAAAAAAAAAAAIAAACHY2RlYwAAAAEAAAAAAAAAAAAAAAxmcm1hbXA0YQAAAAxtcDRh
	AAAAAAAAADNlc2RzAAAAAAOAgIAiAAAABICAgBRAFQAYAAABdwAAAXcABYCAgAISEAaA
	gIABAgAAAAxzcmNxQAAAAAAAAAxhY2JmAAAAAAAAAAgAAAAAAAAAAABscHAAAAAcdmVy
	cwAAAAEAAAAAAAAAAAADABQAAQAAAAAAGGZ0eXAAAAABAAAAAAAAAABtbXA0AAAAGGVu
	dmkAAAABAAAAAAAAAABwcm8wAAAAGGVuc28AAAABAAAAAAAAAABhYWMgAAAAGGVudHgA
	AAABAAAAAAAAAAB0eDNnAAAAGGNvbmYAAAABAAAAAAAAAAAzR1BQAAAAGGFyYXQAAAAB
	AAAAAAAAAAAAAXcAAAAAGGNoYW4AAAABAAAAAAAAAAAAAAACAAAAGGFmcnQAAAABAAAA
	AAAAAAAAAAABAAAAGGFzcnQAAAABAAAAAAAAAACsRAAAAAAAGGFxbHQAAAABAAAAAAAA
	AAAAAABAAAAAGGJhc2UAAAABAAAAAAAAAAAAAAEAAAAAGHR4ZW4AAAABAAAAAAAAAAAA
	AAACAAAAFnJ0eHQAAAABAAAAAAAAAAAAAAAAABhoaW50AAAAAQAAAAAAAAAAAAAAAQAA
	ABhwc2l6AAAAAQAAAAAAAAAAAAAFqgAAABhwZHVyAAAAAQAAAAAAAAAAAAAAZAAAABhy
	c21rAAAAAQAAAAAAAAAAAAAAAAAAABZkZHJtAAAAAQAAAAAAAAAAAAEAAABEZGV4dAAA
	AAEAAAACAAAAAAAAABhkbW9kAAAAAQAAAAAAAAAAAAAAAQAAABhkcm1mAAAAAQAAAAAA
	AAAAAAAAAA==
	</data>
	<key>componentManufacturer</key>
	<string>appl</string>
	<key>componentSubtype</key>
	<string>3gpp</string>
	<key>componentType</key>
	<string>spit</string>
</dict>
</plist>
