<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>artist</key>
    <string></string>
    <key>director</key>
    <string>Ireneusz Szumlanski</string>
    <key>title</key>
    <string>Kick Buttowski (opening)</string>
    <key>date</key>
    <string>2010</string>
    <key>location</key>
    <string></string>
    <key>customer</key>
    <string>Disney</string>
    <key>organization</key>
    <string>Tonfabrik. Struck, Szumlanski, Eckert GbR.</string>
    <key>copyright</key>
    <string>2010 - Tonfabrik. Struck, Szumlanski, Eckert GbR.</string>
    <key>license</key>
    <string>All rights reserved.</string>
    <key>contact</key>
    <string>mailto:info@tonfabrik.eu?subject=Kick%20Buttowski</string>
    <key>language</key>
    <string>en</string>
</dict>
</plist>