<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>input</key>
            <string>iphone-edge.m4v</string>
            <key>caption</key>
            <string>iPhone Edge MP4 Video</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>iphone-edge.m3u8</string>
            <key>caption</key>
            <string>iPhone Edge Videostream</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>iphone-wifi.m4v</string>
            <key>caption</key>
            <string>iPhone Wifi MP4 Video</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>iphone-wifi.m3u8</string>
            <key>caption</key>
            <string>iPhone Wifi Videostream</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>ipad-edge.m4v</string>
            <key>caption</key>
            <string>iPad Edge MP4 Video</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>ipad-wifi.m4v</string>
            <key>caption</key>
            <string>iPad Wifi MP4 Video</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>reference.mov</string>
            <key>caption</key>
            <string>Quicktime Reference Movie</string>
            <key>browser</key>
            <string>Safari,MobileSafari</string>
        </dict>
        <dict>
            <key>input</key>
            <string>desktop.m4v</string>
            <key>caption</key>
            <string>Desktop MP4 Video</string>
            <key>browser</key>
            <string>Safari,Opera</string>
        </dict>
        <dict>
            <key>input</key>
            <string>desktop.ogv</string>
            <key>caption</key>
            <string>Desktop Theora Video</string>
            <key>browser</key>
            <string>Firefox,Fennec,Opera</string>
        </dict>
        <dict>
            <key>input</key>
            <string>desktop.webm</string>
            <key>caption</key>
            <string>Desktop WebM Video</string>
            <key>browser</key>
            <string>Chrome,Firefox</string>
        </dict>
    </array>
</plist>