<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>action</key>
            <string>videosize</string>
            <key>input</key>
            <string>Data/sample.mov</string>
            <key>output</key>
            <string>Data/fixed-aspect-ratio.mov</string>
        </dict>
        <dict>
            <key>action</key>
            <string>getposterimage</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>time</key>
            <string>1.234567890</string>
            <key>output</key>
            <string>Metadata/posterimage.png</string>
        </dict>
        <dict>
            <key>action</key>
            <string>quicktime</string>
            <key>preset</key>
            <string>desktop</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/desktop.m4v</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>apple_hls</string>
            <key>input</key>
            <string>Payload/desktop.m4v</string>
            <key>output</key>
            <string>Payload/desktop.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>quicktime</string>
            <key>preset</key>
            <string>mcp_iphone_edge</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/iphone-edge.m4v</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>apple_hls</string>
            <key>input</key>
            <string>Payload/iphone-edge.m4v</string>
            <key>output</key>
            <string>Payload/iphone-edge.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>quicktime</string>
            <key>preset</key>
            <string>mcp_iphone_wifi</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/iphone-wifi.m4v</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>apple_hls</string>
            <key>input</key>
            <string>Payload/iphone-wifi.m4v</string>
            <key>output</key>
            <string>Payload/iphone-wifi.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>variantplaylist</string>
            <key>edge</key>
            <string>Payload/iphone-edge.m3u8</string>
            <key>wifi</key>
            <string>Payload/iphone-wifi.m3u8</string>
            <key>desktop</key>
            <string>Payload/desktop.m3u8</string>
            <key>output</key>
            <string>Payload/iphone.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>quicktime</string>
            <key>preset</key>
            <string>mcp_ipad_edge</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/ipad-edge.m4v</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>apple_hls</string>
            <key>input</key>
            <string>Payload/ipad-edge.m4v</string>
            <key>output</key>
            <string>Payload/ipad-edge.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>quicktime</string>
            <key>preset</key>
            <string>mcp_ipad_wifi</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/ipad-wifi.m4v</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>apple_hls</string>
            <key>input</key>
            <string>Payload/ipad-wifi.m4v</string>
            <key>output</key>
            <string>Payload/ipad-wifi.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>variantplaylist</string>
            <key>edge</key>
            <string>Payload/ipad-edge.m3u8</string>
            <key>wifi</key>
            <string>Payload/ipad-wifi.m3u8</string>
            <key>desktop</key>
            <string>Payload/desktop.m3u8</string>
            <key>output</key>
            <string>Payload/ipad.m3u8</string>
        </dict>
        <dict>
            <key>action</key>
            <string>reference</string>
            <key>iphone</key>
            <string>iphone.m3u8</string>
            <key>ipad</key>
            <string>ipad.m3u8</string>
            <key>desktop</key>
            <string>desktop.m4v</string>
            <key>output</key>
            <string>Payload/reference.mov</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>ogv_desktop</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/desktop.ogv</string>
        </dict>
        <dict>
            <key>transcode</key>
            <string>webm_desktop</string>
            <key>input</key>
            <string>Data/fixed-aspect-ratio.mov</string>
            <key>output</key>
            <string>Payload/desktop.webm</string>
        </dict>
    </array>
</plist>